/* Importerar font från google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

body{
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  /* padding-bottom: 4rem; */
  min-height: 100vh;  
}


/* Navbar börjar här */
nav{
  width: 100vw;
  height: 4em;
  /* background-color: black; */
  margin: 0 0 2em 0;
}

nav ul{
  text-align: center;
  padding-top: 1.3em;
  margin: 0;

}

nav ul li {
  list-style: none;
  display: inline;
  padding: 1em;
}

nav ul li a{
  text-decoration: none;
  color: rgb(7, 98, 179);
  font-weight: 700;

}


/* Footer böjar här  */
/* .footer{
  width: 100vw;
  height: 4rem; 
  background-color:black;
  color: azure;
  text-align: center;
  padding-top: 1rem;
} */
