body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;

  position: relative;
  padding-bottom: 4rem;
  min-height: 100vh;  
}
