/* HeroHomeComponent Styling */

.flexcontainerhero{
    display: flex;
    justify-content: center;
    gap: 4em;
    margin: 6em 0 0 0;
    padding: 2em;
}

.homeheadertext{
   margin: 4em 0 0 0;
}

.homeheadertext2{
   background-color: #24B9CD;
   padding: 1em;
}

.heroimg{
    height: 40vh;
    width: 40vw;
    object-fit: cover;
    display: inline;
    filter: grayscale(1);
}

.heroimg:hover{
    filter: grayscale(0);
    color: #e4d109;

}

/* subscriptionComponent styling med flex i home.js */
.flexprops{
   display: flex;
   justify-content: center;
   gap: 3em;
   margin: 3em 0em 0em 0em;
}

/* header text i home page  */
.headersub{
    text-align: center;
    margin: 8em auto 0 auto;
}

/* Styling i subscriptionComponent */
.cards{
    background-color: #D9D9D9;
    text-align: center;
    padding: 1em 0.8em 1em 0.8em;
    border-radius: 6px;
    width: 140px;
    height: 300px;
}

/* ButtonComponent style */
.Buybutton{
   background-color:#24B9CD;
   border: #24B9CD;
   padding: 10px;
   border-radius: 4px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

/* HomeTextComponent styling */

.flextext{
    display: flex;
    justify-content: center;
    gap: 10em;
    margin: 13em 0 10em 0;
}

.glases{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 0 0 0;
}

.textgrouphome{
    width: 300px;
    height: auto;
}
 .text1{
    margin: 1.9em 0 0 0;
    font-weight: bolder;
}

@media screen and (max-width: 700px) {
    .flextext {
      gap: 4em;
    }
  }

 /* Flexbox på SaleComponent och ChangeButtonComponent  */
.flexSale{
    display: flex;justify-content: center;
    gap: 4em;
    margin: 10em 0 0 0;
}

/* ChangeButtonComponent styling */
.ChangeButtonStyle{
    padding: 1em 3em 1em 3em;
    background-color: #e4d109;
    border: #e4d109;
    border-radius: 8px;
    font-size: large;
    cursor: pointer;
}

/* SaleComponent styling */
.SaleNumber{
    font-size: large;
    margin: 0.6em 0 0 0;
}









